#outer {
    height: 400px;
    width: 400px;
    background-color: rgb(105, 229, 251);
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner {
    height: 100px;
    width: 100px;
    background-color: rgb(132, 67, 157);

}