h1 {
    color: blue;
    text-decoration: underline;
}
body  {
    background-color: lightblue;
    /* learn about rgb */
}
button {
    color: red;
    background-color: lightpink;
}
/* universal selector *{} ,  */
#head3 {
    color: red;
} 
/* same id shouold not given to diff elements , for that we use class selector  */
.myclass {
    color: darkmagenta;
}
h2 {
    text-align: start;

}
#box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(38, 122, 38);
}
#box2 {
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    width: 5em; 
    /* its 5 times the  font size */

}   